@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html, body {
  background-color: #111827; 
}

@keyframes blinkCaret {
  50% { border-color: transparent; }
}

html, body {
  overflow-x: hidden;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 30s linear infinite;
}
